/*secondary logo svg patch*/
.secondary-logo[src$=".svg"] {
  height: 55px !important;
  margin-top: 14px;
  @media only screen and (max-width: 740px) {
    margin-top: 0;
  }
}

/**
*** misc classes
**/
.row.expanded {
  max-width: none !important;
}

/*note about title-override: it doesn't have any properties unto itself, it simply adds another level of specificity that makes it easier to override the !important*/
.page-title.title-override {
  color: wsu-palette($wcpurp-colors, 1);
  font-family: 'tradegothicltstd-boldext', sans-serif;
  margin: 1em;
  text-align: center;
  font-size: 2rem;
}

.page-title--basic.title-override {
  color: wsu-palette($wcpurp-colors, 1);
  font-family: 'tradegothicltstd-boldext', sans-serif;
  margin: 1em;
  text-align: left;
  font-size: 2rem;
}

.showcase-html-section {
  padding-top:0;
}

.fullwidth, .-fullwidth, .stretchbox, .-stretchbox, .banner {
  width: 100%;
}

.offscreen, .-offscreen {
  position: absolute;
  left: -10000px;
}

.clearfix {
  clear: both;
}

.centered-text, .-centered-text, .text-center, .-text-center {
  text-align: center;
}

.hidden, .-hidden {
  display: none;
}

.side-borders {
  border-left: 1px solid #666;
  border-right: 1px solid #666;
}
@media only screen and (max-width: 767px) {
  .side-borders {
    border-left: none;
    border-right: none;
  }
}