.circle-image {
  margin: 30px;
  -webkit-shape-outside: circle(50%);
  shape-outside: circle(50%);
  &__picture-element{
	&__image {
	  width: 100%;
	  border-radius: 50%;
	}
  }
  &--left {
	float: left;
  }
  &--right {
	float: right;
  }
  &--small-head-shot {
	border-radius: 50%;
	border: solid 4px #FFFFFF;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
	width: 150px;
	margin: 15px;
  }
}